streamlit==1.36.0

tensorflow==2.15.0

numpy==1.24.3
pandas==2.1.4
scikit-learn==1.3.2
scipy==1.11.4

opencv-python-headless==4.9.0.80
Pillow==10.2.0

matplotlib==3.8.2

protobuf==3.20.3
h5py==3.9.0

google-generativeai==0.8.3
gdown
